.node {
    /* background-color: rgb(220,220,220); */
    border: 1px black solid;
}

.wall {
    background-color: rgb(54, 22, 196) !important;
}

.visited {
    background-color: rgb(22, 170, 196) !important;
}

.shortestPath {
    background-color: rgb(155, 22, 196) !important;
}

.start {
    background-color: rgb(14, 131, 53) !important;
}

.end {
    background-color: rgb(196, 22, 22) !important;
}