.node {
    background-color: rgb(220,220,220);
    border: 1px black solid;
}

.start {
    background-color: rgb(14, 131, 53) !important;
}

.end {
    background-color: rgb(196, 22, 22) !important;
}

.wall {
    background-color: rgb(54, 22, 196) !important;
}