.main-container {
    display: inline;
    background-color: #78b1eb;
}

.button-row {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    padding: 20px;
}

.radio-buttons {
    margin-left: 50px;
}
.drop-down {
    margin-left: 50px;
}

.spacing {
   padding: 20px;
}

select{
    background: rgba(0,0,0,0.3);
}

/* .MuiRadio-colorPrimary {
    color: white;
} */