.grid {
    position: relative;
    border: 8px rgb(220,220,220) solid;
    background-color: rgb(220,220,220);
    width: 1075px;
    height: 560px;
    display: grid;
    top: 100px;
    margin: auto;
    grid-template: repeat(20, 1fr) / repeat(40, 1fr);
    grid-gap: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    grid-template: repeat(10, 1fr);
}

.node {
    background-color: rgb(220,220,220);
    border: 1px black solid;
}

.start {
    background-color: rgb(14, 131, 53) !important;
}

.end {
    background-color: rgb(196, 22, 22) !important;
}